.body {
  @media (min-width: 1160px) {
    width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
  }
}
.wrap {
  &.setting {
    @media (min-width: 1160px) {
      width: 1200px;
      margin: 0 auto;
    }
    .settingPc {
      display: flex;
      justify-content: space-between;

      // margin: 20px;
      .sideMenuPc {
        background-color: #f5f7f9;
        height: 60vh;
        flex: 3;
        padding: 20px;
        width: 100%;
        margin-right: 15px;
      }
      .block {
        flex: 7;
      }
    }
  }
}
