@import './variables';

@include mobile {
  .hr {
    margin: 20px 0 20px 0;
    padding: 0 20px;
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    line-height: 40px;
    .react {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    .linkChat {
      cursor: pointer;
    }
  }
  .Info {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
}
