.wrap {
  min-width: 320px;
  box-sizing: border-box;

  .body {
    padding: 20px;
    h1.title {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
    p.subText {
      margin-bottom: 30px;
    }
    .singupBtns {
      margin-bottom: 30px;
      .signupBtn {
        display: block;
        margin-bottom: 20px;
      }
    }
  }
  &.darkmode {
    background: #000;
    color: #fff;
  }
}
