@import './variables';
@import './utils';

@include mobile {
  .textWrapper {
    flex-grow: 1;
    padding-left: 20px;
    flex-direction: column;
    margin-left: 20px;
  }
  .contentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .imageWrapper {
      width: 50%;
      height: 30vw;
    }
  }
  .textWrapper {
    flex-grow: 1;
    width: 50%;
    height: 50%;
    padding-left: 20px;
  }
  .textDetail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 15px;
    // .postWriter {
    //   margin-right: 20px;
    // }
    .postDate {
      color: rgb(126, 127, 129);
      font-size: 11px;
    }
  }
  .postContent {
    font-size: 15px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-width: 100%;
    color: #7e7f81;
    margin-bottom: 30px;
  }
}
