@import './variables';

@include desktop {
  .mainPostContainer {
    margin-bottom: 70px;
    display: flex;
    margin: 20px 200px;
    .popularPost {
      flex: 6;
    }
    .popularInfo {
      flex: 4;
    }
  }
  .category {
    font-size: 22px;
    margin: 20px 200px;
  }
  .categoryContainer {
    margin: 20px 200px;
  }
}
.main-slide {
  margin-bottom: 70px;
}
.category {
  font-weight: 700;
  font-size: 22px;
}
