.wrap {
  h1 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 30px;
  }
  .btns {
    margin-bottom: 30px;
    .signupBtn {
      display: block;
      margin-bottom: 20px;
    }
  }
}
