#root .ql-container {
  background: #fefcfc;
  border: none;
  border-bottom: 1px solid #e2e7e2;
}

/* Snow Theme */
#root .ql-snow.ql-toolbar {
  display: block;
  background: #f6f7f9;
  font-family: 'NanumSquareNeo-Variable';
  border: none;
  border-bottom: 1px solid #e2e7e2;
  border-radius: 0;
  &.ql-title {
    position: relative;
    padding: 0 20px;
    height: 50px;
    margin: 0;
    font-size: 16px;
    background: #fff;
    width: 100%;
  }
}
#root .ql-toolbar {
  // position: fixed;
  top: 0;
}
#root .ql-editor {
  min-height: 60vh;
  padding: 20px;
  strong {
    font-weight: 700;
  }
  em {
    font-style: italic;
  }
  u {
    text-decoration: underline;
  }
}
.postHeader {
  position: sticky;
  top: 0;
  left: 0;
  height: 70px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e7e2;
  select {
    border: none;
    text-align: center;
    font-weight: blod;
    option {
      line-height: 40px;
    }
  }
  .write {
    color: #ddd;
    &.on {
      color: #fbc02d;
      font-weight: 700;
    }
  }
}
.hashtag {
  width: 100%;
  line-height: 50px;
  box-sizing: border-box;
  padding: 0 20px;
}
@media screen and (min-width: 1160px) {
  .createPost {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #ddd;
  }
}
